poznan_it_market:
  target: dev
  outputs:
    dev:
      type: postgres
      host: "{{ env_var('DB_HOST', 'localhost') }}"
      user: "{{ env_var('POSTGRES_USER', 'postgres') }}"
      password: "{{ env_var('POSTGRES_PASSWORD', 'postgres') }}"
      port: "{{ env_var('DB_PORT', '5432') | as_number }}"
      dbname: "{{ env_var('POSTGRES_DB', 'poznan_it_market') }}"
      schema: public
      threads: 4
