LOG_LEVEL=INFO
JJIT_API_URL=

# local docker
# POSTGRES_USER=
# POSTGRES_PASSWORD=
# POSTGRES_DB=
# DB_HOST=
# DB_PORT=
# DB_SSLMODE=
# DATABASE_URL=

# CLOUD NEON
DATABASE_URL=

DB_HOST=
DB_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DB_SSLMODE=
