LOG_LEVEL=INFO
JJIT_API_URL=https://api.justjoin.it/v2/user-panel/offers

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=poznan_it_market
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/poznan_it_market

# CLOUD NEON
#DATABASE_URL=

#DB_HOST=
#DB_PORT=
#POSTGRES_USER=
#POSTGRES_PASSWORD=
#POSTGRES_DB=
#DB_SSLMODE=
