# Python
__pycache__/
*.pyc
.venv/
*.egg-info/

# Environment
.env
.DS_Store

# dbt
logs/
dbt/target/
dbt/logs/
*.log
dbt/profiles.yml

# IDE
.vscode/
.idea/

# Data
data/raw/*.json
!data/raw/sample/*.json
*.csv
tmp/
.coverage

