# Python
__pycache__/
*.pyc
.venv/
*.egg-info/

# Environment
.env
.DS_Store

# dbt
logs/
dbt/target/
dbt/logs/
*.log
dbt/profiles.yml
dbt/.user.yml

# IDE
.vscode/
.idea/

# Data
data/raw/**
!data/raw/sample/
!data/raw/sample/jjit_2026-08-11.json
*.csv
tmp/
.coverage
